name: Repo Stats

on:
  schedule:
    # 每天 UTC 时间 00:00 运行一次 (北京时间早上 8 点)
    - cron: '0 0 * * *'
  workflow_dispatch: # 允许你手动点击运行

jobs:
  run-stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write # 赋予 Action 写入权限
    steps:
      - name: checkout-repo
        uses: actions/checkout@v4

      - name: run-ghrs
        uses: jgehrcke/github-repo-stats@v1.4.2
        with:
          # 使用内置的 GITHUB_TOKEN，无需额外配置密钥
          repository: ${{ github.repository }}
          ghtoken: ${{ secrets.GITHUB_TOKEN }}
